/* one day this will be better */

body {
  background-color: #080808ed;

  display: flex;
  justify-content: center;
  align-items: center;
}

#pixi-canvas {
  border: 5px solid #2d2d2d;
  border-radius: 5px;
}
