/* one day this will be better */

body {
  background-color: #080808ed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pixi-canvas canvas {
  border: 5px solid #2d2d2d;
  border-radius: 5px;
}

#app-header {
  color: white;
  font-size: 12px;
  font-family: 'Roboto';
  padding: 5px;
}

#app-body {
  display: flex;
  flex-direction: row;
}

#app-body-left {
  flex: 0 0 auto;
  width: 100px;

  padding: 5px;

  border: 2px solid #2d2d2d;
  border-radius: 5px;
}
